:root {
    background-color: gray;
}

html {
    background-color:gray;
}

body{
    margin: 0;
}

#app{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height:100vh;
}

.btn-primary{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

header{
    background:green;
}

main{
    background:red;
    overflow-y: auto;
}


footer form  {
    display:flex;
    align-items: stretch;
}

footer form input{
    flex:1;
}